#the-canvas {
	border: 1px solid black;
	direction: ltr;
	min-width: 100%;
	background-color: #ffffff;
}

#background {
	background-color: 43A080;
}

#title {
	text-align: center;
}

#dragNdropFile {
	background-color: rgba(0.1,0.1,0.1,0.3);
	left: 0;
	right: 300px;
	height: 100%;
	align-items: center;
	justify-content: center;
	position: absolute;
	display: none;
}


#jobsTable {
	border-collapse: collapse;
	text-align: left;
	margin: 2% 10%;
	width:80%;
	font-size: 1.5em;
}

tr:last-child { 
    border-bottom: none; 
}
tr {
    border-bottom: 1px solid black;
}

td {
	padding: 20px 0;
}

#furtherPrint {
	margin-left: 10%;
	font-size: 1.5em;
	text-decoration:none;
}

#moreOptions {
	text-decoration: underline;
	border: 0;
	background: transparent;
	display: block;
}

#moreOptions:hover {
	color: grey;
}

#additionalOptions {
	display: none;
}

#lessOptions {
	text-decoration: underline;
	border: 0;
	background: transparent;
	display: block;
}

#lessOptions:hover {
	color: grey;
}

#infoview {
	display:inline
}

#infoview #displayinfo {
	display: none;
	width: 400px;
	position: absolute;
	font-size: 20px;
	z-index: 5;
	border: 3px;
	border-style: inset;
	background-color: ivory;
	border-color: darkgrey;
	padding: 5px;
}

#infoview:hover #displayinfo {
	display: inline;
}

#fullgraybackground {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(77, 77, 77, 0.7);
	justify-content: center;
}

#loader {
	z-index: 10;
	font-size: 25px;
	background-color: white;
	padding: 0 30px 0 0;
	border-radius: 10px;
	border-style: outset;
}

#pdf-loading-canvas {
	display: none;
}

@media screen and (min-width: 601px) {

	#pdfArea {
		position: absolute;
		width:  96%;
		top: 120px;
		bottom: 150px;
		overflow: scroll
	}

	#the-canvas {
		border: 1px solid black;
		direction: ltr;
		min-width: 100%;
		background-color: #ffffff;
	}

	#preview {
		position: absolute;
		left: 0;	
		right: 300px;
		top: 0;
		bottom: 0;
		margin: 2%;
		background-color: white;
		box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), 0 0 10px 10px rgba(0, 0, 0, 0.19);
		padding: 2%;
	}

	#jobsBackground {
		background-color: 43A080;
		padding: 2%;
		min-height: 100%;
	}

	#jobsView {
		width: 100%;
		min-height: 100%;
		background-color: white;
		box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), 0 0 10px 10px rgba(0, 0, 0, 0.19);
		padding: 2%;
	}

	#options {
		padding: 2%;
		width: 300px;
		background-color: #D7FFDE;
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		overflow-y: auto;
	}

	#previewControlls {
		position: absolute; 
		text-align: center;
		width: 93%; 
		bottom: 30px;
	}

	#pageNumber {
		margin: 0 20% 0 20%;
	}

	#seperator {
		background-color: black; 
		width: 110%;
		height: 1px;
		margin-left:-5%
	}

	.pageButton {
		width: 120px;
	}

	#printProgressView {
		background-color: rgba(0.1,0.1,0.1,0.3);
		left: 0;right: 300px;
		height: 100%;
		align-items: center;
		justify-content: center;
		position: absolute;
		display: none
	}

	#progressViewPanel {
		width: 400px;
		height: 250px;
		background-color: #fdfdfd;
		border-radius: 5px;
		margin: 6% auto;
		text-align: center;
		padding: 15px
	}

	#breakLoader {
		display: none;
	}
}

@media screen and (max-width: 600px) {

	#pdfArea {
		position: absolute;
		margin-left: 1%;
		width:  98%;
		top: 120px;
		bottom: 150px;
		overflow: scroll
	}

	#the-canvas {
		border: 1px solid black;
		direction: ltr;
		min-width: 100%;
		background-color: #ffffff;
	}

	#preview {
		position: absolute;
		width: 100%;
		height: 570px;
		margin-top: 10px;
		background-color: white;
		box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), 0 0 10px 10px rgba(0, 0, 0, 0.19);
	}

	#jobsView {
		position: absolute;
		width: 100%;
		padding: 5% 0;
		background-color: white;
		box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), 0 0 10px 10px rgba(0, 0, 0, 0.19);
		font-size: 8px;
	}

  	#options {
  		position: absolute; 
  		top: 600px;
		padding: 5%;
		width: 100%;
		background-color: #D7FFDE;
	}

	#previewControlls {
		position: absolute; 
		text-align: center;
		width: 100%; 
		bottom: 30px;
	}

	#pageNumber {
		margin: 0 5% 0 5%;
	}

	#seperator {
		background-color: black; 
		width: 104%;
		height: 1px;
		margin-left:-2%

	}

	.pageButton {
		width: 100px;
	}

	#printProgressView {
		background-color: rgba(0.1,0.1,0.1,0.3);
		left: 0;right: 0;
		height: 100%;
		align-items: center;
		justify-content: center;
		position: fixed;
		display: none
	}

	#progressViewPanel {
		width: 96%;
		height: 250px;
		background-color: #fdfdfd;
		border-radius: 5px;
		margin: 6% 2%;
		text-align: center;
		padding: 15px
	}

	#loader {
		text-align: center;
		z-index: 10;
		font-size: 15px;
		background-color: white;
		padding: 10px;
		margin: 10px;
		border-radius: 10px;
		border-style: outset;
	}

	#breakLoader {
		display: block;
	}

	#title {
		font-size: 30px;
	}

	#infoview:hover #displayinfo {
		position: absolute;
		left: 0;
		width: 90%;
		margin: 5%;
	}

	#dragNdropFile {
		right: 0;
	}

	#jobsBackground {
		background-color: 43A080;
		padding: 2% 0;
	}

	td {
		padding: 20px 5px;
	}

	#jobsTable {
		border-collapse: collapse;
		text-align: left;
		margin: 2%;
		width:96%;
		font-size: 1.5em;
	}
}